<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div>
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}

            <div>
                <label for="{{ form.username.id_for_label }}">Username:</label>
                {{ form.username }}
                {% if form.username.errors %}
                    <ul>
                        {% for error in form.username.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div>
                <label for="{{ form.password.id_for_label }}">Password:</label>
                {{ form.password }}
                 {% if form.password.errors %}
                    <ul>
                        {% for error in form.password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div>
                <button type="submit">Login</button>
            </div>

            {% if messages %}
                <ul>
                  {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
        </form>
    </div>
    <h5>Don't have an account?
        <a href="/register/">
            <button>Register</button>
        </a>
    </h5>
    <h5>Or continue as a
        <a href="/home/">
            <button>Guest</button>
        </a>
    </h5>
</body>
</html>